<main>
    <div class="searcher">
            <input class="searcher--input" placeholder="Ejemplo: camiseta hombre" />
            <button class="searcher--button">Busca un producto</button>
        </div>

    <div class="shop-container">

        <div class="shopping-cart">
            <div class="cart-title">
                <h2>Tu carrito 🛒​</h2>
            </div>
            <div class="cart-list">
            </div>
        </div>

        <div class="shopping-list">
            <div class="shop-title">
                <h2>Productos más populares 🤩</h2>
            </div>
            <div class="popular-products">
            </div>
        </div>
    </div>
</main>